body{
	margin-bottom 105px
}

.navbar-header h1, h5{
	display inline-block
}
.navbar-nav.menu{
	margin-top 10px
}
.navbar-form{
	margin-top 15px
}
.navbar-nav.signup{
	margin-top -5px
}
.main-carousel{
	position relative
	cursor pointer
}
.carousel-caption h2{
	font-size 72px
}
.content{
	margin-top 100px
}
.navbar-form{
	.form-group{
		margin-left 10px
	}
	button{
		margin-left 10px
	}
}
.top-margin-small{
	margin-top 5px
}
.top-padding-med{
	padding-top 10px
}
.margin-left-med{
	margin-left 10px
}
.inline-block{
	display inline-block
}
.toast-top-right{
	top 80px
}
.footer {
	position fixed
	bottom 0
	width 100%
	.footer-copyright{
		a:hover {
			color: #dcff21;
		}
	}
}
.comparing-section{
	margin-top 7px
}
.comparing-wrapper{
	margin-top 5px;
	text-align center;
	span{
		border 1px dotted #aec62c
		margin 0 5px
	}
	a.comparing-item{
		padding 3px 6px
		color #fff
	}
	a.comparing-dismiss{
		border-left 1px dotted #aec62c
		padding 0 6px
	}
	.btn-primary{
		margin-right -15px
	}
}
.comparing-layout {
	td:first-child{
		font-weight bold
		text-align right
		min-width 155px
		vertical-align middle
	}
	td:nth-child(2){
		background #EBF1CC
		vertical-align middle
	}
	td:nth-child(3){
		background #DAE59E
		vertical-align middle
	}
	td:nth-child(4){
		background #BCD051
		vertical-align middle
	}
	td:nth-child(5){
		background #AEC62C
		vertical-align middle
	}
	.spec-type{
		text-align left !important
		padding-left 10px
	}
}
.full-page{
	display table
	width 100%
}
.single-post-title{
	min-height 46px
}
.single-post-content{
	.left{
		float left
		font-weight bold
		width 200px
	}
}
.single-post-info{
	padding-bottom 20px !important
}

.image{
	height 225px
	width 300px
}
.section-title h1{
	margin-bottom 0 !important
	margin-top 0 !important
}
.section-title a:hover {
	color white
}
.isotope{
	margin-top 15px
}
[isotope-container]{
	list-style none
}
[isotope-item] {
	width 316px
	height 376px
}
.isotope-buttons{
	padding: 5px 0;
	display: flex;
	.btn-primary {
		width 10% !important
	}
	
	.btn:nth-child(6){
		width 7.5% !important
		padding 6px
	}
}
.grid{
	padding 0 0 20px 0 !important
	figure {
		margin-top 0 !important
		margin-bottom 20px !important
	}
}
.history{
	.history-row{
		display inline-block
		.title{
			text-align center
		}
		img{
			margin-right 10px !important
			width 250px
			height 170px
		}
	}
	a.redo{
		margin-bottom 10px
	}
	.history-divider{
		margin-top 0
	}
}
.team-member{
	.team-member-photo{
		width 
	}
	img {
		width 300px
		height 200px
	}
}

#loading-bar .bar{
	background: #aec62c;
}