script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/isotope/dist/isotope.pkgd.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/angular-sanitize/angular-sanitize.min.js")
script(type="text/javascript", src="/vendor/angular-local-storage/dist/angular-local-storage.min.js")
script(type="text/javascript", src="/vendor/angular-ui-utils/unique.js")
script(type="text/javascript", src="/vendor/angular-isotope/dist/angular-isotope.js")
script(type="text/javascript", src="/vendor/jquery.easing/js/jquery.easing.min.js")
script(type="text/javascript", src="/vendor/angular-loading-bar/build/loading-bar.min.js")
script(type="text/javascript", src="/vendor/angular-bootstrap-confirm/dist/angular-bootstrap-confirm.js")
script(type="text/javascript", src="/bootstrap_utils/modernizr-2.6.2-respond-1.1.0.min.js")
script(type="text/javascript", src="/bootstrap_utils/scrolling-nav.js")

script(type="text/javascript", src="/app/app.js")

// Services
script(type="text/javascript", src="/app/common/NotifierService.js")

script(type="text/javascript", src="/app/account/IdentityService.js")
script(type="text/javascript", src="/app/account/AuthenticationService.js")
script(type="text/javascript", src="/app/account/UserService.js")

script(type="text/javascript", src="/app/bikes/BikeService.js")
script(type="text/javascript", src="/app/bikes/CachedBikesService.js")

script(type="text/javascript", src="/app/compare/BikesToCompareService.js")

// Controllers
script(type="text/javascript", src="/app/account/NavBarLoginController.js")
script(type="text/javascript", src="/app/account/SignupController.js")
script(type="text/javascript", src="/app/account/ProfileController.js")

script(type="text/javascript", src="/app/main/HomeCarouselController.js")
script(type="text/javascript", src="/app/main/HomeDrilldownController.js")
script(type="text/javascript", src="/app/main/TechController.js")

script(type="text/javascript", src="/app/admin/UserListController.js")

script(type="text/javascript", src="/app/bikes/isotope-initialize.js")
script(type="text/javascript", src="/app/bikes/BikeListController.js")
script(type="text/javascript", src="/app/bikes/BikeDetailsController.js")
script(type="text/javascript", src="/app/bikes/BikeThumbnailsController.js")
script(type="text/javascript", src="/app/bikes/bikeDirectives.js")

script(type="text/javascript", src="/app/compare/ToCompareController.js")
script(type="text/javascript", src="/app/compare/CompareController.js")
script(type="text/javascript", src="/app/compare/CompareService.js")
script(type="text/javascript", src="/app/compare/CompareHistoryController.js")


