div(ng-controller="TechController", ng-cloak, ng-hide="!loaded")
  .section.section-dark
    .container
      .row
        .col-md-12
          .section-title
            h1 Technology stack
  .section.section-white
    .container
      .row
        .section-title
            h1 Server side
      .col-md-3.featured-news
        .service-wrapper
          img(src="/img/tech/node.png")
          p Node.js® is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications
      .col-md-3.featured-news
        .service-wrapper
          img(src="/img/tech/express.png")
          p A fast and minimalist web framework for node.js
      .col-md-3.featured-news
        .service-wrapper
          img(src="/img/tech/morgan.png")
          p An HTTP request logger middleware for node.js
      .col-md-3.featured-news
        .service-wrapper
          img(src="/img/tech/passport.png")
          p A simple, unobtrusive authentication for node.js
  .section.section-white   
    .container
      .row
        .section-title
            h1 NoSQL
      .col-md-3.featured-news
        .service-wrapper
          img(src="/img/tech/mongo.png")
          p An open-source, document database designed for ease of development and scaling
      .col-md-3.featured-news
        .service-wrapper
          img(src="/img/tech/mongoose.png")
          p Straight-forward, schema-based solution to modeling your application data
  .section.section-white   
    .container
      .row
        .section-title
            h1 Client side
      .col-md-3.featured-news
        .service-wrapper
          img(src="/img/tech/angular.jpg")
          p A structural framework for dynamic web apps. Use HTML as template language and extend its syntax
      .col-md-3.featured-news
        .service-wrapper
          img(src="/img/tech/jade.jpg")
          p The view engine. Templating language focused on enabling quick HTML coding
      .col-md-3.featured-news
        .service-wrapper
          img(src="/img/tech/stylus.png")
          p Stylus is a feature-rich CSS preprocessor
  .section.section-white   
    .container
      .row
        .section-title
            h1 UX
      .col-md-3.featured-news
        .service-wrapper
          img(src="/img/tech/bootstrap.jpg")
          p An HTML, CSS and JavaScript framework for developing responsive, mobile-first web sites
      .col-md-3.featured-news
        .service-wrapper
          img(src="/img/tech/isotope.png")
          p Filter & sort magical layouts
      .col-md-3.featured-news
        .service-wrapper
          img(src="/img/tech/toastr.png")
          p A Javascript library for Gnome/Growl type non-blocking notifications
  .section.section-white   
    .container
      .row
        .section-title
            h1 Unit testing
      .col-md-3.featured-news
        .service-wrapper
          img(src="/img/tech/karma.png")
          p A testing environment for developers
      .col-md-3.featured-news
        .service-wrapper
          img(src="/img/tech/mocha.png")
          p Mocha is a JavaScript test framework running on Node.js and the browser
  .section.section-white   
    .container
      .row
        .section-title
            h1 Package manager
      .col-md-3.featured-news
        .service-wrapper
          img(src="/img/tech/npm.png")
          p npm makes it easy for JavaScript developers to share and reuse code
      .col-md-3.featured-news
        .service-wrapper
          img(src="/img/tech/bower.jpg")
          p Bower manages frameworks, libraries, assets, utilities and rainbows 